body{
    background-color: #788EBA;
    justify-content: center;
    align-items: center;

    margin: 0;
}
.main{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.page-heading{
    font-size: 50px;
    margin-bottom: 10px;

    color: black;
    font-family: 'Chalkduster';
}

/* 
    Word Of The Day Styles
*/
.date{
    font-family: monospace;
    font-size: 15px;    
}
.dateButtons{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-word{
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 60px;

    font-family: Copperplate;
}
.word-definition{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.word-sub-container{
    display: flex;
    flex-direction: row;
}
.word-partOfSpeech{
    color: #72A857;
    margin: 10px;
}
.word-pronounciation{
    color: #A85772;
    margin: 10px;

}
.error-container{
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-img{
    height: auto;
    width: 400px;
}
.error-heading{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* 
    Word Of The Day Styles
*/